{% extends 'base2.html' %}


{% block content %}
<div class="card-body" style="padding-top: 6em;">
  <div class="shadow-lg p-3 mb-5 bg-white rounded" style="text-align: center; color: black;"><!-- Div contenido centrado-->
  

      <form method="POST" action="terra_multitransportes" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <!--Apartado del formulario para cargar el XML-->
        <span id="inputGroup-sizing-sm" style="font-size: 20px; font-family: sans-serif;">Suba el XML en el que requiere agregar la Addenda:</span>
        <br>
        <hr>
        <input type="file" name="file_xml" id="file_xml" title="Dar clic para agregar el XML" required>
        <br>
        <br>
        <!--Campos que contendra la addenda, estos datos los ingresara el usuario-->
        <div class="row justify-content-center" id="">
          <div class="col-4">
        <div class="input-group-prepend">
          <span id="inputGroup-sizing-sm" ">Contenedor:</span>
        </div>
        <input name="contenedor" type="text" class="form-control" style="background-color: rgb(231, 231, 231); color: black;" title="Ingrese la información" required>
          </div>

          <div class="col-4">
        <div class="input-group-prepend">
          <span id="inputGroup-sizing-sm" ">Referencia:</span>
        </div>
        <input name="referencia" type="text" class="form-control" style="background-color: rgb(231, 231, 231); color: black;">
          </div>
        </div>
        <div class="row justify-content-center" id="">
          <div class="col-4">
        <div class="input-group-prepend">
          <span id="inputGroup-sizing-sm" ">Reservación:</span>
        </div>
        <input name="reservacion" type="text" class="form-control" style="background-color: rgb(231, 231, 231); color: black;" required>
          </div>
          <div class="col-4">
        <div class="input-group-prepend">
          <span id="inputGroup-sizing-sm" ">total:</span>
        </div>
        <input id="total" name="total" type="text" class="form-control" style="background-color: rgb(231, 231, 231); color: black;">
          </div>
        </div>

        <div class="row justify-content-center" id="">
          <div class="col-4">
        <div class="input-group-prepend">
          <span id="inputGroup-sizing-sm" ">IVA:</span>
        </div>
        <input id="iva" name="iva" type="text" class="form-control" style="background-color: rgb(231, 231, 231); color: black;">
          </div>
          <div class="col-4">
        <div class="input-group-prepend">
          <span id="inputGroup-sizing-sm" ">Retención:</span>
        </div>
        <input id="retencion" name="retencion" type="text" class="form-control" style="background-color: rgb(231, 231, 231); color: black;">
          </div>
        </div>

        <div class="row justify-content-center" id="">
          <div class="col-4">
        <div class="input-group-prepend">
          <span id="inputGroup-sizing-sm" ">Valor:</span>
        </div>
        <input id="valor" name="valor" type="text" class="form-control" style="background-color: rgb(231, 231, 231); color: black;">
          </div>
          <div class="col-4">
        <div class="input-group-prepend">
          <span id="inputGroup-sizing-sm" ">Descripción:</span>
        </div>
        <input name="descripcion" type="text" class="form-control" style="background-color: rgb(231, 231, 231); color: black;">
          </div>
        </div>
        <br>
        <input class="btn btn-outline-success" type="submit" value="Agregar Addenda" id="add_addenda">
        <p></p>
      </form>

      <hr>

      <p>Descargar XML con la Addenda</p>
      <button>XML</button> <button>PDF</button>
      <br>
      <textarea name="" id="" cols="45" rows="10">
        {{ xml_ade }}
      </textarea>
      
  </div><!-- Fin Div contenido centrado-->
</div><!--Fin card-body-->


{% endblock %}