{% extends 'base2.html' %}


{% block content %}
<div class="card-body ">
  <div style="text-align: center; color: black;"><!-- Div contenido centrado-->
  

      <form method="POST" action="open_lenguage" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <!--Apartado del formulario para cargar el XML-->
        <span id="inputGroup-sizing-sm" style="font-size: 20px;">Suba el XML en el que requiere agregar la Addenda:</span>
        <br>
        <input type="file" name="file_xml" id="file_xml" title="Dar clic para agregar el XML" required>
        <br>
        <br>
        <!--Campos que contendra la addenda, estos datos los ingresara el usuario-->
        <div class="row justify-content-center" id="liverpool">
          <div class="col-4">
        <div class="input-group-prepend">
          <span id="inputGroup-sizing-sm" ">Purchase_Order:</span>
        </div>
        <input name="Purchase_Order" type="text" class="form-control" style="background-color: rgb(231, 231, 231); color: black;" title="Ingrese la información">
          </div>

          <div class="col-4">
        <div class="input-group-prepend">
          <span id="inputGroup-sizing-sm" ">FileNumber_GL:</span>
        </div>
        <input name="FileNumber_GL" type="text" class="form-control" style="background-color: rgb(231, 231, 231); color: black;">
          </div>
        </div>
        <div class="row justify-content-center" id="liverpool">
          <div class="col-4">
        <div class="input-group-prepend">
          <span id="inputGroup-sizing-sm" ">Branch_Centre:</span>
        </div>
        <input name="Branch_Centre" type="text" class="form-control" style="background-color: rgb(231, 231, 231); color: black;">
          </div>
          <div class="col-4">
        <div class="input-group-prepend">
          <span id="inputGroup-sizing-sm" ">TransportRef:</span>
        </div>
        <input name="TransportRef" type="text" class="form-control" style="background-color: rgb(231, 231, 231); color: black;">
          </div>
        </div>
        <br>
        <input class="btn btn-outline-success" type="submit" value="Agregar Addenda" id="add_addenda">
        <p></p>
      </form>

      {{ xml_ade }}
      
  </div><!-- Fin Div contenido centrado-->
</div><!--Fin card-body-->


{% endblock %}